#vtta-notifications {
  display: flex;
  flex-direction: column-reverse;

  position: fixed;
  width: 200px;
  bottom: 100px;
  right: 20%;
  margin: 0;
  padding: 0;
  z-index: 160;
}

#vtta-notifications div {
  flex: 0 0 auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 4px solid rgb(31, 31, 31);
  border-radius: 4px;
  background: rgb(41, 41, 41);
  color: rgba(199, 171, 12, 0.801);
  font-family: "Roboto Condensed", Helvetica, sans-serif;
}
